Backup1/Convicts For A Cause/Web References/convictsforacauseWS/CatalystCRMWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice">
      <s:element name="ContactList_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lastUpdateDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="recordStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moreRecords" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContactList_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContactList_RetrieveResult" type="tns:ArrayOfContactRecord" />
            <s:element minOccurs="1" maxOccurs="1" name="recordStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moreRecords" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContactRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactRecord" nillable="true" type="tns:ContactRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactRecord">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="externalId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTitle" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="deleted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateOfBirth" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="createDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lastUpdateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="customerType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="industryType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="leadSourceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ratingType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="relationships" type="tns:ArrayOfRelationship" />
          <s:element minOccurs="0" maxOccurs="1" name="addresses" type="tns:ArrayOfAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="phoneNos" type="tns:ArrayOfPhoneNo" />
          <s:element minOccurs="0" maxOccurs="1" name="crmForms" type="tns:ArrayOfCrmForms" />
          <s:element minOccurs="1" maxOccurs="1" name="MasterOptIn" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRelationship">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Relationship" nillable="true" type="tns:Relationship" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Relationship">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="entityType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="addressTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="addressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="addressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhoneNo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhoneNo" nillable="true" type="tns:PhoneNo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhoneNo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="phoneNoTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="phoneNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCrmForms">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CrmForms" nillable="true" type="tns:CrmForms" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CrmForms">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="formId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="formName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="crmFormFields" type="tns:ArrayOfCrmFormFields" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCrmFormFields">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CrmFormFields" nillable="true" type="tns:CrmFormFields" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CrmFormFields">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fieldId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fieldTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="fieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fieldValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Contact_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_RetrieveResult" type="tns:ContactRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveByExternalID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="externalId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveByExternalIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_RetrieveByExternalIDResult" type="tns:ContactRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveByEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveByEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_RetrieveByEmailAddressResult" type="tns:ContactRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_Retrieve2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_Retrieve2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_Retrieve2Result" type="tns:ContactRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveByUsernamePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveByUsernamePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_RetrieveByUsernamePasswordResult" type="tns:ContactRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_Retrieve3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_Retrieve3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_Retrieve3Result" type="tns:ContactRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveByEntityID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_RetrieveByEntityIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Contact_RetrieveByEntityIDResult" type="tns:ContactRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Contact_DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_DeleteByEntityID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_DeleteByEntityIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Contact_DeleteByEntityIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_DeleteByEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_DeleteByEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Contact_DeleteByEmailAddressResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContactList_UpdateInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="contactsList" type="tns:ArrayOfContactRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContactList_UpdateInsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="SecureZoneList_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecureZoneList_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecureZoneList_RetrieveResult" type="tns:ArrayOfSecureZone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSecureZone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SecureZone" nillable="true" type="tns:SecureZone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SecureZone">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="secureZoneID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="secureZoneName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="secureZoneExpiryDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="secureZoneUnsubscribe" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Contact_SecureZoneListUpdateInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="emailaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="securezoneList" type="tns:ArrayOfSecureZone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_SecureZoneListUpdateInsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Contact_IsAuthenticatedGeneric">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_IsAuthenticatedGenericResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Contact_IsAuthenticatedGenericResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_IsAuthenticated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="zoneId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_IsAuthenticatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Contact_IsAuthenticatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_IsLoggedIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_IsLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Contact_IsLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderList_RetrieveByContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderList_RetrieveByContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderList_RetrieveByContactResult" type="tns:ArrayOfOrderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetails" nillable="true" type="tns:OrderDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="orderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="-1" name="workflowId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="statusTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="orderType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invoiceNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invoiceDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="userID_AssignedTo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="shippingAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="shippingTaxRate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="shippingAttention" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shippingInstructions" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="shippingOptionId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="discountCodeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="discountRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalOrderAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="directDebitTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="directDebitDays" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="isRecur" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="nextInvoiceDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="endRecurDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="cycleTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="createDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lastUpdateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="deleted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="products" type="tns:ArrayOfProduct" />
          <s:element minOccurs="0" maxOccurs="1" name="payments" type="tns:ArrayOfPayment" />
          <s:element minOccurs="0" maxOccurs="1" name="addresses" type="tns:ArrayOfAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="crmForms" type="tns:ArrayOfCrmForms" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="units" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="unitPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="unitTaxRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalProductPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Payment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="paymentMethodTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="paymentStatusID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transactionAuthCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="paymentDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="OrderList_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lastUpdateDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="recordStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moreRecords" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderList_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderList_RetrieveResult" type="tns:ArrayOfOrderDetails" />
            <s:element minOccurs="1" maxOccurs="1" name="recordStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moreRecords" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Order_RetrieveResult" type="tns:OrderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_CreateUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderDetails" type="tns:OrderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_CreateUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Order_CreateUpdateResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderDetails" type="tns:OrderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_RetrieveTotalPaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_RetrieveTotalPaidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Order_RetrieveTotalPaidResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_PaymentProcess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="emailInvoiceToCustomer" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="creditCardInfo" type="tns:CreditCardInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionInfo" type="tns:TransactionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCardInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:PaymentSourceInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CardHolder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExpiryMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExpiryYear" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CardType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CardCCV" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IssueMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IssueYear" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IssueNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StoredCardToken" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PaymentSourceInfo" />
      <s:complexType name="TransactionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RequestParams" type="tns:ArrayOfKeyValuePairOfStringString" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKeyValuePairOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfStringString" type="tns:KeyValuePairOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValuePairOfStringString" />
      <s:element name="Order_PaymentProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Order_PaymentProcessResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CampaignListList_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CampaignListList_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CampaignListList_RetrieveResult" type="tns:ArrayOfCampaignList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCampaignList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CampaignList" nillable="true" type="tns:CampaignList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CampaignList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="campaignListID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="campaignListName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="campaignListUnsubscribe" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Contact_CampaignListListUpdateInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="emailaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaignlistList" type="tns:ArrayOfCampaignList" />
            <s:element minOccurs="1" maxOccurs="1" name="forceOptIn" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Contact_CampaignListListUpdateInsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="Case_MessageAppend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="caseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isInternal" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Case_MessageAppendResponse">
        <s:complexType />
      </s:element>
      <s:element name="Case_Assign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="caseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userIdAssignTo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Case_AssignResponse">
        <s:complexType />
      </s:element>
      <s:element name="Case_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="caseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Case_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Case_RetrieveResult" type="tns:CaseDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CaseDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="caseId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="assignedTo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="caseSubject" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="createDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lastUpdateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="messageThreads" type="tns:ArrayOfMessageThreads" />
          <s:element minOccurs="0" maxOccurs="1" name="crmForms" type="tns:ArrayOfCrmForms" />
          <s:element minOccurs="0" maxOccurs="1" name="fileList" type="tns:ArrayOfFiles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMessageThreads">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessageThreads" nillable="true" type="tns:MessageThreads" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageThreads">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="createDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="objectId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="objectType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="isInternal" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFiles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Files" nillable="true" type="tns:Files" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Files">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fileId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fileSize" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="CaseList_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lastUpdateDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="recordStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moreRecords" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseList_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaseList_RetrieveResult" type="tns:ArrayOfCaseDetails" />
            <s:element minOccurs="1" maxOccurs="1" name="recordStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moreRecords" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCaseDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CaseDetails" nillable="true" type="tns:CaseDetails" />
        </s:sequence>
      </s:complexType>
      <s:element name="CaseList_EntityRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="recordStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moreRecords" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseList_EntityRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaseList_EntityRetrieveResult" type="tns:ArrayOfCaseDetails" />
            <s:element minOccurs="1" maxOccurs="1" name="recordStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="moreRecords" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseFile_Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseFile_RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaseFile_RetrieveResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Object_LaunchWorkflow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="objectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="objectType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Object_LaunchWorkflowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Object_LaunchWorkflowResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ContactList_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:ContactList_Retrieve" />
  </wsdl:message>
  <wsdl:message name="ContactList_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:ContactList_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_Retrieve" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveByExternalIDSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveByExternalID" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveByExternalIDSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveByExternalIDResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveByEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveByEmailAddress" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveByEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveByEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_Retrieve2SoapIn">
    <wsdl:part name="parameters" element="tns:Contact_Retrieve2" />
  </wsdl:message>
  <wsdl:message name="Contact_Retrieve2SoapOut">
    <wsdl:part name="parameters" element="tns:Contact_Retrieve2Response" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveByUsernamePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveByUsernamePassword" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveByUsernamePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveByUsernamePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_Retrieve3SoapIn">
    <wsdl:part name="parameters" element="tns:Contact_Retrieve3" />
  </wsdl:message>
  <wsdl:message name="Contact_Retrieve3SoapOut">
    <wsdl:part name="parameters" element="tns:Contact_Retrieve3Response" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveByEntityIDSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveByEntityID" />
  </wsdl:message>
  <wsdl:message name="Contact_RetrieveByEntityIDSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_RetrieveByEntityIDResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_Delete" />
  </wsdl:message>
  <wsdl:message name="Contact_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_DeleteByEntityIDSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_DeleteByEntityID" />
  </wsdl:message>
  <wsdl:message name="Contact_DeleteByEntityIDSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_DeleteByEntityIDResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_DeleteByEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_DeleteByEmailAddress" />
  </wsdl:message>
  <wsdl:message name="Contact_DeleteByEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_DeleteByEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ContactList_UpdateInsertSoapIn">
    <wsdl:part name="parameters" element="tns:ContactList_UpdateInsert" />
  </wsdl:message>
  <wsdl:message name="ContactList_UpdateInsertSoapOut">
    <wsdl:part name="parameters" element="tns:ContactList_UpdateInsertResponse" />
  </wsdl:message>
  <wsdl:message name="SecureZoneList_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:SecureZoneList_Retrieve" />
  </wsdl:message>
  <wsdl:message name="SecureZoneList_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:SecureZoneList_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_SecureZoneListUpdateInsertSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_SecureZoneListUpdateInsert" />
  </wsdl:message>
  <wsdl:message name="Contact_SecureZoneListUpdateInsertSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_SecureZoneListUpdateInsertResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_IsAuthenticatedGenericSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_IsAuthenticatedGeneric" />
  </wsdl:message>
  <wsdl:message name="Contact_IsAuthenticatedGenericSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_IsAuthenticatedGenericResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_IsAuthenticatedSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_IsAuthenticated" />
  </wsdl:message>
  <wsdl:message name="Contact_IsAuthenticatedSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_IsAuthenticatedResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_IsLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_IsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="Contact_IsLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_IsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="OrderList_RetrieveByContactSoapIn">
    <wsdl:part name="parameters" element="tns:OrderList_RetrieveByContact" />
  </wsdl:message>
  <wsdl:message name="OrderList_RetrieveByContactSoapOut">
    <wsdl:part name="parameters" element="tns:OrderList_RetrieveByContactResponse" />
  </wsdl:message>
  <wsdl:message name="OrderList_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:OrderList_Retrieve" />
  </wsdl:message>
  <wsdl:message name="OrderList_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:OrderList_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="Order_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:Order_Retrieve" />
  </wsdl:message>
  <wsdl:message name="Order_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:Order_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="Order_CreateUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Order_CreateUpdate" />
  </wsdl:message>
  <wsdl:message name="Order_CreateUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:Order_CreateUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="Order_RetrieveTotalPaidSoapIn">
    <wsdl:part name="parameters" element="tns:Order_RetrieveTotalPaid" />
  </wsdl:message>
  <wsdl:message name="Order_RetrieveTotalPaidSoapOut">
    <wsdl:part name="parameters" element="tns:Order_RetrieveTotalPaidResponse" />
  </wsdl:message>
  <wsdl:message name="Order_PaymentProcessSoapIn">
    <wsdl:part name="parameters" element="tns:Order_PaymentProcess" />
  </wsdl:message>
  <wsdl:message name="Order_PaymentProcessSoapOut">
    <wsdl:part name="parameters" element="tns:Order_PaymentProcessResponse" />
  </wsdl:message>
  <wsdl:message name="CampaignListList_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:CampaignListList_Retrieve" />
  </wsdl:message>
  <wsdl:message name="CampaignListList_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:CampaignListList_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="Contact_CampaignListListUpdateInsertSoapIn">
    <wsdl:part name="parameters" element="tns:Contact_CampaignListListUpdateInsert" />
  </wsdl:message>
  <wsdl:message name="Contact_CampaignListListUpdateInsertSoapOut">
    <wsdl:part name="parameters" element="tns:Contact_CampaignListListUpdateInsertResponse" />
  </wsdl:message>
  <wsdl:message name="Case_MessageAppendSoapIn">
    <wsdl:part name="parameters" element="tns:Case_MessageAppend" />
  </wsdl:message>
  <wsdl:message name="Case_MessageAppendSoapOut">
    <wsdl:part name="parameters" element="tns:Case_MessageAppendResponse" />
  </wsdl:message>
  <wsdl:message name="Case_AssignSoapIn">
    <wsdl:part name="parameters" element="tns:Case_Assign" />
  </wsdl:message>
  <wsdl:message name="Case_AssignSoapOut">
    <wsdl:part name="parameters" element="tns:Case_AssignResponse" />
  </wsdl:message>
  <wsdl:message name="Case_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:Case_Retrieve" />
  </wsdl:message>
  <wsdl:message name="Case_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:Case_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="CaseList_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:CaseList_Retrieve" />
  </wsdl:message>
  <wsdl:message name="CaseList_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:CaseList_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="CaseList_EntityRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:CaseList_EntityRetrieve" />
  </wsdl:message>
  <wsdl:message name="CaseList_EntityRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:CaseList_EntityRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="CaseFile_RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:CaseFile_Retrieve" />
  </wsdl:message>
  <wsdl:message name="CaseFile_RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:CaseFile_RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="Object_LaunchWorkflowSoapIn">
    <wsdl:part name="parameters" element="tns:Object_LaunchWorkflow" />
  </wsdl:message>
  <wsdl:message name="Object_LaunchWorkflowSoapOut">
    <wsdl:part name="parameters" element="tns:Object_LaunchWorkflowResponse" />
  </wsdl:message>
  <wsdl:portType name="CatalystCRMWebserviceSoap">
    <wsdl:operation name="ContactList_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a list of new or modified Contacts based on a given date. Use to synchronize external database of Contacts with this database.</wsdl:documentation>
      <wsdl:input message="tns:ContactList_RetrieveSoapIn" />
      <wsdl:output message="tns:ContactList_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method is now deprecated. Please use Contact_RetrieveByEmailAddress.</wsdl:documentation>
      <wsdl:input message="tns:Contact_RetrieveSoapIn" />
      <wsdl:output message="tns:Contact_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByExternalID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a Contact record based on customer's external ID (Your ID).</wsdl:documentation>
      <wsdl:input message="tns:Contact_RetrieveByExternalIDSoapIn" />
      <wsdl:output message="tns:Contact_RetrieveByExternalIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a Contact record based on customer's email address.</wsdl:documentation>
      <wsdl:input message="tns:Contact_RetrieveByEmailAddressSoapIn" />
      <wsdl:output message="tns:Contact_RetrieveByEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method is now deprecated. Please use Contact_RetrieveByCustomerUsernamePassword.</wsdl:documentation>
      <wsdl:input name="Contact_Retrieve2" message="tns:Contact_Retrieve2SoapIn" />
      <wsdl:output name="Contact_Retrieve2" message="tns:Contact_Retrieve2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByUsernamePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a Contact record based on customer's username/password.</wsdl:documentation>
      <wsdl:input message="tns:Contact_RetrieveByUsernamePasswordSoapIn" />
      <wsdl:output message="tns:Contact_RetrieveByUsernamePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method is now deprecated. Please use Contact_RetrieveByEntityID.</wsdl:documentation>
      <wsdl:input name="Contact_Retrieve3" message="tns:Contact_Retrieve3SoapIn" />
      <wsdl:output name="Contact_Retrieve3" message="tns:Contact_Retrieve3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByEntityID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a Contact record based on customer's internal EntityID/CRMID.</wsdl:documentation>
      <wsdl:input message="tns:Contact_RetrieveByEntityIDSoapIn" />
      <wsdl:output message="tns:Contact_RetrieveByEntityIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method is now deprecated. Please use Contact_DeleteByEntityID.</wsdl:documentation>
      <wsdl:input message="tns:Contact_DeleteSoapIn" />
      <wsdl:output message="tns:Contact_DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_DeleteByEntityID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a Contact record based on customer's internal EntityID/CRMID.</wsdl:documentation>
      <wsdl:input message="tns:Contact_DeleteByEntityIDSoapIn" />
      <wsdl:output message="tns:Contact_DeleteByEntityIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_DeleteByEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a Contact record based on customer's email address.</wsdl:documentation>
      <wsdl:input message="tns:Contact_DeleteByEmailAddressSoapIn" />
      <wsdl:output message="tns:Contact_DeleteByEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContactList_UpdateInsert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates any number of Contact records. Uses ExternalID as unique key. If ExternalID is not present then email address is used as unique key.</wsdl:documentation>
      <wsdl:input message="tns:ContactList_UpdateInsertSoapIn" />
      <wsdl:output message="tns:ContactList_UpdateInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SecureZoneList_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a list of Secure Zones for a site.</wsdl:documentation>
      <wsdl:input message="tns:SecureZoneList_RetrieveSoapIn" />
      <wsdl:output message="tns:SecureZoneList_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_SecureZoneListUpdateInsert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates Contact subscription to one or more Secure Zones.</wsdl:documentation>
      <wsdl:input message="tns:Contact_SecureZoneListUpdateInsertSoapIn" />
      <wsdl:output message="tns:Contact_SecureZoneListUpdateInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_IsAuthenticatedGeneric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks to see if a Contact can login based on username/password.</wsdl:documentation>
      <wsdl:input message="tns:Contact_IsAuthenticatedGenericSoapIn" />
      <wsdl:output message="tns:Contact_IsAuthenticatedGenericSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_IsAuthenticated">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks to see if a Contact can login to a given Secure Zone based on username/password.</wsdl:documentation>
      <wsdl:input message="tns:Contact_IsAuthenticatedSoapIn" />
      <wsdl:output message="tns:Contact_IsAuthenticatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_IsLoggedIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks to see if an entity is already authenticated and logged in.</wsdl:documentation>
      <wsdl:input message="tns:Contact_IsLoggedInSoapIn" />
      <wsdl:output message="tns:Contact_IsLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderList_RetrieveByContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[BETA] Retrieves all orders for a specified contact.</wsdl:documentation>
      <wsdl:input message="tns:OrderList_RetrieveByContactSoapIn" />
      <wsdl:output message="tns:OrderList_RetrieveByContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderList_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a list of new or modified Orders based on a given date. Use to synchronize external database of Orders with this database.</wsdl:documentation>
      <wsdl:input message="tns:OrderList_RetrieveSoapIn" />
      <wsdl:output message="tns:OrderList_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Order_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves details for an Order including details, products and payments. Use EntityID to retrieve owner Contact/Company information for order.</wsdl:documentation>
      <wsdl:input message="tns:Order_RetrieveSoapIn" />
      <wsdl:output message="tns:Order_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Order_CreateUpdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create / Update Order</wsdl:documentation>
      <wsdl:input message="tns:Order_CreateUpdateSoapIn" />
      <wsdl:output message="tns:Order_CreateUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Order_RetrieveTotalPaid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves the total sum of successful and pending payments for an order.</wsdl:documentation>
      <wsdl:input message="tns:Order_RetrieveTotalPaidSoapIn" />
      <wsdl:output message="tns:Order_RetrieveTotalPaidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Order_PaymentProcess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Process a payment for an order via a payment gateway.</wsdl:documentation>
      <wsdl:input message="tns:Order_PaymentProcessSoapIn" />
      <wsdl:output message="tns:Order_PaymentProcessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CampaignListList_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a list of Campaign Lists for a site.</wsdl:documentation>
      <wsdl:input message="tns:CampaignListList_RetrieveSoapIn" />
      <wsdl:output message="tns:CampaignListList_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Contact_CampaignListListUpdateInsert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates Contact subscription to one or more Campaign Lists.</wsdl:documentation>
      <wsdl:input message="tns:Contact_CampaignListListUpdateInsertSoapIn" />
      <wsdl:output message="tns:Contact_CampaignListListUpdateInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Case_AddThreadItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BETA: Adds a thread item to a case, including dispatching emails if applicable.</wsdl:documentation>
      <wsdl:input name="Case_MessageAppend" message="tns:Case_MessageAppendSoapIn" />
      <wsdl:output name="Case_MessageAppend" message="tns:Case_MessageAppendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Case_Assign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Assigns a case to a particular user.</wsdl:documentation>
      <wsdl:input message="tns:Case_AssignSoapIn" />
      <wsdl:output message="tns:Case_AssignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Case_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves details for a Case including details, threads and files. Use EntityID to retrieve owner Contact/Company information for case.</wsdl:documentation>
      <wsdl:input message="tns:Case_RetrieveSoapIn" />
      <wsdl:output message="tns:Case_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaseList_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a list of new or modified Cases based on a given date for all entities. Use to synchronize external database of Cases with this database.</wsdl:documentation>
      <wsdl:input message="tns:CaseList_RetrieveSoapIn" />
      <wsdl:output message="tns:CaseList_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaseList_EntityRetrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a list of cases for a given entity.</wsdl:documentation>
      <wsdl:input message="tns:CaseList_EntityRetrieveSoapIn" />
      <wsdl:output message="tns:CaseList_EntityRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaseFile_Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves the file for a given Case FileID</wsdl:documentation>
      <wsdl:input message="tns:CaseFile_RetrieveSoapIn" />
      <wsdl:output message="tns:CaseFile_RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Object_LaunchWorkflow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Launches workflow for a Case, Order or Booking using the WorkflowID assigned to object.</wsdl:documentation>
      <wsdl:input message="tns:Object_LaunchWorkflowSoapIn" />
      <wsdl:output message="tns:Object_LaunchWorkflowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatalystCRMWebserviceSoap" type="tns:CatalystCRMWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContactList_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/ContactList_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByExternalID">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_RetrieveByExternalID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByEmailAddress">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_RetrieveByEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_Retrieve2" style="document" />
      <wsdl:input name="Contact_Retrieve2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Contact_Retrieve2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByUsernamePassword">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_RetrieveByUsernamePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_Retrieve3" style="document" />
      <wsdl:input name="Contact_Retrieve3">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Contact_Retrieve3">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByEntityID">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_RetrieveByEntityID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_Delete">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_DeleteByEntityID">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_DeleteByEntityID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_DeleteByEmailAddress">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_DeleteByEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContactList_UpdateInsert">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/ContactList_UpdateInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecureZoneList_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/SecureZoneList_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_SecureZoneListUpdateInsert">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_SecureZoneListUpdateInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_IsAuthenticatedGeneric">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_IsAuthenticatedGeneric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_IsAuthenticated">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_IsAuthenticated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_IsLoggedIn">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_IsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderList_RetrieveByContact">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/OrderList_RetrieveByContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderList_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/OrderList_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Order_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_CreateUpdate">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Order_CreateUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_RetrieveTotalPaid">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Order_RetrieveTotalPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_PaymentProcess">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Order_PaymentProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CampaignListList_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/CampaignListList_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_CampaignListListUpdateInsert">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_CampaignListListUpdateInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Case_AddThreadItem">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Case_MessageAppend" style="document" />
      <wsdl:input name="Case_MessageAppend">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Case_MessageAppend">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Case_Assign">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Case_Assign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Case_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Case_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseList_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/CaseList_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseList_EntityRetrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/CaseList_EntityRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseFile_Retrieve">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/CaseFile_Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Object_LaunchWorkflow">
      <soap:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Object_LaunchWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CatalystCRMWebserviceSoap12" type="tns:CatalystCRMWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContactList_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/ContactList_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByExternalID">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_RetrieveByExternalID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByEmailAddress">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_RetrieveByEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_Retrieve2" style="document" />
      <wsdl:input name="Contact_Retrieve2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Contact_Retrieve2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByUsernamePassword">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_RetrieveByUsernamePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_Retrieve3" style="document" />
      <wsdl:input name="Contact_Retrieve3">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Contact_Retrieve3">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_RetrieveByEntityID">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_RetrieveByEntityID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_Delete">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_DeleteByEntityID">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_DeleteByEntityID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_DeleteByEmailAddress">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_DeleteByEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContactList_UpdateInsert">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/ContactList_UpdateInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecureZoneList_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/SecureZoneList_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_SecureZoneListUpdateInsert">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_SecureZoneListUpdateInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_IsAuthenticatedGeneric">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_IsAuthenticatedGeneric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_IsAuthenticated">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_IsAuthenticated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_IsLoggedIn">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_IsLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderList_RetrieveByContact">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/OrderList_RetrieveByContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderList_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/OrderList_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Order_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_CreateUpdate">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Order_CreateUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_RetrieveTotalPaid">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Order_RetrieveTotalPaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_PaymentProcess">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Order_PaymentProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CampaignListList_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/CampaignListList_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contact_CampaignListListUpdateInsert">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Contact_CampaignListListUpdateInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Case_AddThreadItem">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Case_MessageAppend" style="document" />
      <wsdl:input name="Case_MessageAppend">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Case_MessageAppend">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Case_Assign">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Case_Assign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Case_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Case_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseList_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/CaseList_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseList_EntityRetrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/CaseList_EntityRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseFile_Retrieve">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/CaseFile_Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Object_LaunchWorkflow">
      <soap12:operation soapAction="http://tempuri.org/CatalystDeveloperService/CatalystCRMWebservice/Object_LaunchWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalystCRMWebservice">
    <wsdl:port name="CatalystCRMWebserviceSoap" binding="tns:CatalystCRMWebserviceSoap">
      <soap:address location="https://convictsforacause.worldsecuresystems.com/CatalystWebService/CatalystCRMWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CatalystCRMWebserviceSoap12" binding="tns:CatalystCRMWebserviceSoap12">
      <soap12:address location="https://convictsforacause.worldsecuresystems.com/CatalystWebService/CatalystCRMWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>